<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>_MissionControl (SINTHIUS)</title>
    <link rel="stylesheet"
          href="{{static_url('vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet"
          href="{{static_url('vendor/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet"
          href="{{static_url('vendor/ionicons/css/ionicons.min.css')}}">
    <link rel="stylesheet"
          href="{{static_url('css/admin.css')}}">
    <link rel="stylesheet"
          href="{{static_url('css/skins/skin-blue.css')}}">
</head>
<body class="hold-transition skin-blue fixed">
<div class="wrapper">
    <header class="main-header">
        <a href="/a/mc" class="logo">
            <span class="logo-mini"><b>_M</b>C</span>
            <span class="logo-lg"><b>_Mission</b>Control</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">NODES</li>
                <li><a href="#"><i class="fa fa-link"></i><span>All</span></a></li>
                <li><a href="#"><i class="fa fa-link"></i><span>Alive</span></a></li>
                <li><a href="#"><i class="fa fa-link"></i><span>Fallen</span></a></li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">

        </section>
    </div>
    <footer class="main-footer"></footer>
</div>
<script src="{{static_url('vendor/jquery/jquery-2.2.3.min.js')}}"></script>
<script src="{{static_url('vendor/slimscroll/jquery.slimscroll.min.js')}}"></script>
<script src="{{static_url('vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{static_url('js/admin.js')}}"></script>
</body>
</html>
